.banner-container{
width: 100%;
height: 50%;
display: flex;
}


.banner{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.bnrimg{
    width: 100%;
    height: 50vh;
}
.prevp{
margin-left: 4vh;
margin-top: 15vh;
cursor: pointer;
position: absolute;
z-index: 999; 
height: 70px;
width: 30px;
background-color: #ffffff8c;
border: none;
backdrop-filter: blur(8px);
border-radius: 10px;
font-size: 20px;
font-weight: 800;

}
.Next{
    margin-left: 175vh;
    margin-top: 15vh;
    cursor: pointer;
    position: absolute;
    z-index: 999; 
    height: 70px;
width: 30px;
background-color: #ffffff8c;
border: none;
backdrop-filter: blur(8px);
border-radius: 10px;
font-size: 20px;
font-weight: 800;
}